@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    @apply w-full max-h-[100px] scale-105 md:bg-black/25 shadow-md md:shadow-xl fixed top-0 left-0 z-50 
}


.slide video{
    @apply z-0 absolute top-0 left-0 w-full h-screen object-cover
}

.content{
    @apply absolute top-0 left-0 w-full h-screen flex items-center justify-center bg-black/25
}
.content-text{
    @apply text-white w-[70%]  ml-[-16%] pr-52
}
.banner-text{
    @apply text-[4em] font-black tracking-[5px] font-myriad uppercase leading-[75px] mb-10 pr-48
}
.banner-p{
    @apply text-[18px] mb-[75px] font-myriad
}
.banner-read-btn{
    @apply px-[35px] py-[15px] font-myriad bg-white text-[#1680AC] text-[1.1em] font-medium rounded-2xl transition duration-500 ease-out hover:ease-in hover:text-white hover:bg-[#1680AC]
}
.slide-navigation{
    @apply z-[888px] absolute top-[500px] left-[46.9%] flex mb-10 justify-center items-center content-center flex-wrap translate-y-[35vh]
}
.nav-btn{
    @apply scale-110 bg-white w-3 h-3 rounded cursor-pointer shadow-xl transition duration-100 ease-in
}
.nav-content{
    @apply absolute top-0 left-0 py-3 w-full flex items-center justify-between 
}
.menu-1-a{
    @apply text-[1.02em] font-myriad text-white hover:text-[#007DC5] ml-3 transition duration-500 ease-out hover:ease-in
}
.menu-2-a{
    @apply ml-4 font-myriad text-[1.4em] font-medium border-b-[3px] border-b-transparent transition duration-300 ease-out hover:ease-in hover:border-b-[#007DC5]
}
.menu-1-border{
    @apply border-x-[1px]  px-2 border-x-white h-[20px] 
}

.aboutOrg-overlay{
    @apply bg-black/50 h-full absolute top-0 left-0 flex justify-center items-center
}

.about-count-container{
    @apply w-full bg-[#DEE5D4] pt-5 px-28 flex justify-between items-center
}
.power-image:hover .power-content{
    @apply bg-black/50 transition duration-300 ease-in
}

.power-image:hover .power-content-text{
    @apply bg-blue-400/75  rounded-[50px] px-10 transition duration-300 ease-in z-10
}
.footer-bg-image{
    background:url(./image/footer-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.footer-overlay{
    @apply px-20 py-3
}

.f-icon-a{
    @apply text-[30px]  p-2 leading-3 text-white rounded-[50%] border-2 border-white 
}
.footer-2-a{
    @apply text-[1.02em] font-myriad text-white hover:text-[#f18c33] ml-3 transition duration-300 ease-out hover:ease-in
}
.count-h{
    @apply text-[#007DC5] font-bold text-[3.75rem]
}
.count-p{
    @apply text-[#007DC5] my-5 pb-4
}